:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.centered{
  max-width: 1200px;
  margin: 0 auto;
}


ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

// section small title
.section-title{
  text-transform: uppercase;
  position: relative;

  margin-left: 40px;

  &::before{
    content: '';
    position: absolute;

    top: 70%;
    left: -40px;

    height: 2px;
    width: 30px;
    background-color:#39ffbf ;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */

button:hover{
  cursor: pointer;
}

// standard style
button.btn{
  border: none;
  padding: 15px 40px;

  text-transform: uppercase;



}


// green button
button.btn-green{
  background-color: #39ffbf;
  color: #1e1e38;

  position: relative;
  z-index: 1;
  overflow: hidden  ;

  #button-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    background-color: #f81d39;
    border-radius: 50%;

    transition: .4s;

    z-index: -1;
  }
  
  &:hover{
    color: white;
  }

  &:hover #button-background{
    width: 150%;
    height: 500%;
  }
  
}


// red button

button.btn-red{
  background-color: #f81d39;
  color: white;


  position: relative;
  z-index: 1;
  overflow: hidden ;

  #button-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    background-color: #891020;
    border-radius: 50%;

    transition: .4s;

    z-index: -1;
  }
  
  &:hover{
    color: white;
  }

  &:hover #button-background{
    width: 150%;
    height: 500%;
  }
  
}


// black button
button.btn-black{
  background-color: #1e1e38;
  color: white;

  position: relative;
  z-index: 1;
  overflow: hidden  ;

  #button-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    background-color: #39ffbf;
    border-radius: 50%;

    transition: .4s;

    z-index: -1;
  }
  
  &:hover{
    color: #1e1e38;
  }

  &:hover #button-background{
    width: 150%;
    height: 500%;
  }
  
}